*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: "Times New Roman", Times, serif;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0vh;
    background-color: #faf0eb;
    --clr-bg: #faf0eb;
    --clr-primary: black;
    height: 100em;
}

h1 {
    text-align: center;
    color: #786680;
}

h2 {
    text-align: center;
    color: #786680;
    margin-top: 3em;
}

.videoWrapper {
    position: relative;
    padding-bottom: 51%; /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h5 {
    text-align: center;
    color: #786680;
}
