*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: "Times New Roman", Times, serif;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0vh;
    background-color: #faf0eb;
    --clr-bg: #faf0eb;
    --clr-primary: black;
}

.header {
    width: 100%;
    height: 16em;
    border-radius: 0em 0em 3em 3em;
    background-color: #e8d0f2;
    color: #786680;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.quote,
.author {
    font-weight: bold;
    font-style: italic;
    padding-left: 1.3em;
    padding-right: 1em;
    margin: 0em;
}

.author {
    font-size: 1.6rem;
    padding: 0em 1em;
}

.main-section {
    /* height: 65%; */
    width: 100%;
    border-radius: 2em 2em 0em 0em;
    background-color: #faf0eb;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    border-radius: 2em;
    font-size: 1.3rem;
    width: 6.3em;
    height: 6.3em;
    border: none;
    background-color: #e2bff1;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.button:hover {
    background-color: #d9b4e9;
}

.button:active {
    background-color: #cca5dd;
}

.button:last-child {
    margin-left: 1.7em;
}

.button1,
.button2 {
    margin-top: 4em;
}

.quick-access {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qa-button {
    background-color: #e2bff1;
    padding: 0.5em;
    border: 0em;
    border-radius: 0.8em;
    font-size: 1rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
}

.qa-button:hover {
    background-color: #d9b4e9;
}

.qa-button:active {
    background-color: #bd99cc;
}

.icons {
    height: 2.5em;
    display: block;
    margin: auto;
}

.footer {
    /* height: 3.5%; */
    background-color: #faf0eb;
    font-size: 1.1rem;
    color: #786680;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 4em;
}

.credits {
    text-decoration: none;
    border-bottom: dotted 0.1em;
    height: 1.08em;
    color: #786680;
    padding-bottom: 1.05em;
}

.credits:hover {
    text-decoration: none;
    border-bottom: none;
}

/* for laptops and large screens */
@media (min-width: 731px) and (min-height: 600px) {
    .icons {
        margin-bottom: 0em !important;
        height: 3em;
    }
    .button {
        width: 12em;
        height: 5em;
        font-size: 1.7rem;
        padding-bottom: 0.05em !important;
    }
}

/* short phones */
@media (min-width: 360px) and (max-width: 390px) and (min-height: 640px) {
    .footer {
        margin-top: 1.5em;
    }
    .button1,
    .button2 {
        margin-top: 2em;
    }
}

/* very short phones */
@media (min-width: 320px) and (max-width: 379px) and (max-height: 640px) {
    .button {
        font-size: 1.1rem;
    }
    .footer {
        font-size: 1.05rem;
        margin-top: 2em;
    }
    .button1,
    .button2 {
        margin-top: 3em;
    }
}
